.reader_ad {
    width: 728px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    padding: 60px 0;
}

.google_ad {
    width: 160px;
    height: 600px;
    position: absolute;
    top: 240px;
}
