.zero {
    color: #333333 !important;
}

.green {
    color: #00B050 !important;;
}

.green2 {
    color: #81C044 !important;;
}

.orange {
    color: #FF9900 !important;;
}

.red {
    color: #CA0000 !important;;
}
